@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

/*          DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     */
@media only screen and (min-width: 1024px) {
    .login {
        display: flex;
        width: 100%;
        height: 30px;
        background-color: $blue_main;
        justify-content: flex-end;
        button{
            margin-right: 100px;
            border-radius: 10px;
            background-color: $button;
            border: none;
            color: $text-top;
            font-size: 10px;
            width: 100px;
            height: 25px;
            margin-bottom: 30px;
            &:hover {
                text-decoration-line: underline;
            }
        }
    }
    header {
        padding: 20px;
        background: $blue_gradient;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: $text-top;
        font-family: $font;
        position: absolute;
        height: 175px;
        width: 100%;
                
        h1 {
            flex: 1;
            padding: 0 20px;
        }
        ul {
            flex: 1;
            flex-direction: row;
            justify-items: flex-end;
        }
        ul li{
            display: inline-block;
            text-decoration: none;
            padding-right: 20px;
            a {
                color: $text-top;
                text-decoration: none;
                &:hover {
                    text-decoration-line: underline;
                }
            }
        }
        
    }
    
    .banner {
        font-family: $font;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 700px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        top: 100px;
        .banner-wrapper {
            img {
                width: 100%;
                height: auto;
                border: white solid 10px;
                border-radius: 5px;
                margin: 0;
                box-shadow: $box_shadow;
                -webkit-box-shadow: 0px 2px 5px 4px rgba(34,34,34,0.5);
                -moz-box-shadow: 0px 2px 5px 4px rgba(34, 34, 34, 0.5);
            }
        }
        
        .description {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 200px;
            padding: 10px;
            h2 {
                background: $blue_gradient;
                margin-bottom: 10px;
                margin-top: 0;
                color: $text-top;
                font-size: 20px;
                padding: 5px;
            }
            p {
                background-color: white;
                color: $blue_main;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
                border: white solid 3px;
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            .browse {
                @include buttons-top;
                border-color: $blue_main;
                background-color: $blue_main;
                span {
                    flex: 1;
                    font-weight: 600;
                    font-size: 12px;
                    margin-right: 10px;
                }
                &:hover {
                    border: none;
                }
            }
            .signup {
                @include buttons-top;
                border-color: $orange_main;
                background-color: $orange_main;
                span {
                    flex: 1;
                    font-size: 14px;
                    font-weight: 600;
                }
                &:hover {
                    border: none;
                }
            }
        }
           
    }
    
    .offer {
        height: 400px;
        width: 90%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding-top: 200px;
        font-family: $font;
        .entries {
            display: flex;
            flex-direction: column;
            flex: 1.5;
            margin-right: 20px;
            h2 {
                color: $blue_main;
                font-weight: 500;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #888;
                }
            }
            .det {
                padding-right: 5px;
                font-weight: 500;
            }
            .propositions {
                display: flex;
                flex-direction: column;
                article {
                    display: flex;
                    flex-direction: row;
                    margin: 10px;
                    border-bottom: solid 1px #888;
                    h4 {
                        padding-right: 5px;
                        /*  loop or function  */
                    }
                    .img-wrapper {
                        overflow: hidden;
                        max-width: 75px;
                        flex: 1;
                        img {
                            width: 100%;
                            height: auto;
                            margin-right: 5px;
                        }
                    }
                    .description {
                        display: flex;
                        flex: 2;
                        flex-direction: column;
                        p {
                          margin-top: 5px; 
                          margin-bottom: 5px; 
                        }
                    }
                }
            }
        }
        .comingsoon {
            display: flex;
            flex: 2;
            flex-direction: column;
            h2 {
                color: $info_menu;
                font-weight: 500;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #888;
                }
            }
            article:nth-of-type(1){
                margin-bottom: 50px;
            }
            article {
                display: flex;
                flex-direction: row;
                .vid-wrapper {
                    overflow: hidden;
                        min-width: 300px;
                        flex: 1;
                    img {
                        width: 275px;
                        height: 100%;
                    }
                }
                
                .script {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    margin-left: 10px;
                    p {
                        margin-top: 10px; 
                        margin-bottom: 10px;
                    }
                }
                button {
                    width: 85px;
                    border: solid 1px #777;
                    color: #777;
                    background-color: rgb(230, 230, 230);
                }
            }
        }
        
    }
    .more_info_menu {
        margin-top: 75px;
        width: 100%;
        margin: 0 auto;
        padding-top: 320px;
        color: #FFF;
        display: flex;
        .bottom_container{
            background-color: $info_menu;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            padding: 50px;
            font-family: $font;
           article {
                flex: 1;
                h4 {
                    justify-content: flex-start;
                    margin-bottom: 10px;
                }
                ul {
                    padding-left: 20px;
                    list-style: none;
                    li::before {
                        content: "\2022";
                        color: $info_bullets;
                        margin-right: 5px;
                        display: inline-block;
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                p {
                    margin-bottom: 10px;
                    margin-top: 20px;
                    font-size: 14px;
                }
                button {
                    background-color: $info_bullets;
                    color: #FFF;
                    border: none;
                    padding: 5px;
                    border-radius: 3px;
                    float: right;
                    margin-right: 10px;
                }
            }
        }
        
    }
    footer {
        text-align: center;     
        inline-size: 50px;
        width: 100%;    
        padding: 10px 0; 
        font-size: 14px;   
        background-color: rgb(177, 177, 248);
    }
}

/*      TABLET      TABLET      TABLET      TABLET      TABLET      TABLET      TABLET      TABLET      */

@media only screen and (min-width: 700px) and (max-width: 1023px){
    
    .login {
        display: flex;
        width: 100%;
        height: 30px;
        background-color: $blue_main;
        justify-content: flex-end;
        button{
            margin-right: 110px;
            border-radius: 10px;
            background-color: $button;
            border: none;
            color: $text-top;
            font-size: 10px;
            width: 100px;
            height: 25px;
            margin-bottom: 30px;  
        }
    }
    header {
        padding: 20px;
        background: $blue_gradient;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: $text-top;
        font-family: $font;
        position: absolute;
        height: 110px;
        width: 100%;
        border-top: solid 5px $blue_main;
       margin: 0;
        h1 {
            flex: 1;
            padding: 0 20px;
        }
        ul {
            flex: 1;
            flex-direction: row;
            justify-items: flex-end;
        }
        ul li{
            display: inline-block;
            text-decoration: none;
            padding-right: 20px;
        }
        
    }
    
    .banner {
        font-family: $font;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        height: 200px;
        margin: 0 auto;
        margin-top: 130px;
        top: 100px;
        img {
            width: 50%;
            height: 100%;
            border: white solid 10px;
            border-radius: 5px;
            margin: 0;
            /*box-shadow: $box_shadow;*/
        }
        
        .description {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 200px;
            padding: 10px;
            h2 {
                background: $blue_gradient;
                margin-bottom: 10px;
                margin-top: 0;
                color: $text-top;
                font-size: 20px;
                padding: 5px;
            }
            p {
                background-color: white;
                color: $blue_main;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
                border: white solid 3px;
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            .browse {
                @include buttons-top;
                background-color: $blue_main;
                span {
                    flex: 1;
                    font-weight: 600;
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
            .signup {
                @include buttons-top;
                background-color: $orange_main;
                span {
                    flex: 1;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
           
    }
    
    .offer {
        height: 1080px;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 25px;
        font-family: $font;
        .entries {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-right: 20px;
            h2 {
                color: $blue_main;
                font-weight: 500;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #888;
                }
            }
            .entries h4 {
                padding-right: 5px;
            }
            .propositions {
                display: flex;
                flex-direction: column;
                article {
                    display: flex;
                    flex-direction: row;
                    margin: 10px;
                    .img-wrapper {
                        overflow: hidden;
                        min-width: 100px;
                        flex: 1;
                        img {
                            width: 100%;
                            height: auto;
                            margin-right: 5px;
                        }
                    }
                }
                    .description {
                        display: flex;
                        flex: 2;
                        flex-direction: column;
                        p {
                          margin-top: 5px; 
                          margin-bottom: 5px; 
                        }
                    }
                }
            }
        }
        .comingsoon {
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-top: 10px;
            h2 {
                color: $info_menu;
                font-weight: 500;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #888;
                }
            }
            article:nth-of-type(1){
                margin-bottom: 50px;
            }
            article {
                display: flex;
                flex-direction: row;

                img {
                    width: 275px;
                    height: 100%;
                    flex: 1;
                }
                .script {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    margin-left: 10px;
                    p {
                        margin-top: 10px; 
                        margin-bottom: 10px;
                    }
                }
                button {
                    width: 85px;
                    border: solid 1px #777;
                    color: #777;
                    background-color: rgb(230, 230, 230);
                }
            }
        }
        
    .more_info_menu {
        margin-top: 75px;
        width: 100%;
        margin: 0 auto;
        color: #FFF;
        display: flex;
        .bottom_container{
            background-color: $info_menu;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: flex-start;
            font-family: $font;
            padding: 10px;
           article {
               flex: 1;
               margin: 30px 35px;
                h4 {
                    justify-content: flex-start;
                    margin-bottom: 10px;
                }
                ul {
                    padding-left: 20px;
                    list-style: none;
                    li::before {
                        content: "\2022";
                        color: $info_bullets;
                        margin-right: 5px;
                        display: inline-block;
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                p {
                    margin-bottom: 10px;
                    margin-top: 20px;
                    font-size: 14px;
                    justify-content: center;
                }
                button {
                    background-color: $info_bullets;
                    color: #FFF;
                    border: none;
                    padding: 5px;
                    border-radius: 3px;
                    float: right;
                    margin-right: 75px;
                }
            }
        }
        
    }
    footer {
        text-align: center;     
        inline-size: 50px;
        width: 100%;    
        margin: 10px 0; 
        font-size: 14px;   
    }
}



/*      MOBILE      MOBILE      MOBILE      MOBILE      MOBILE      MOBILE      MOBILE      MOBILE      */

@media only screen and (max-width: 699px) {
    
    .login {
        display: flex;
        width: 100%;
        height: 30px;
        background-color: $blue_main;
        justify-content: center;
        button{
            border-radius: 10px;
            background-color: $button;
            border: none;
            color: $text-top;
            font-size: 10px;
            width: 100px;
            height: 25px;
            margin-bottom: 30px;  
        }
    }
    header {
        background: $blue_gradient;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: $text-top;
        font-family: $font;
        height: 120px;
        width: 100%;
        border-top: solid 5px $blue_main;
        h1 {
            flex: 1;
            padding: 20px;
        }
        ul {
            flex: 1;
            flex-direction: row;
            margin: 0 auto;
            :nth-child(1){
                padding-left: 0;
            }
        }
        ul li{
            display: inline-block;
            text-decoration: none;
            padding-left: 20px;
            
            a {
                text-decoration: none;
                color: $text-top;
            }
        }
        
    }
    
    .banner {
        font-family: $font;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 360px;
        margin: 0 auto;
        margin-top: 30px;
        img {
            width: 100%;
            border-radius: 2px;
            margin: 0;
            /*box-shadow: $box_shadow;*/
        }
        
        .description {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 200px;
            padding: 10px;
            h2 {
                background: $blue_gradient;
                text-align: center;
                color: $text-top;
                font-size: 20px;
                padding: 5px;
            }
            p {
                background-color: white;
                color: $blue_main;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
                text-align: center;
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            .browse {
                @include buttons-top;
                width: 220px;
                background-color: $blue_main;
                span {
                    flex: 1;
                    font-weight: 600;
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
            .signup {
                @include buttons-top;
                width: 220px;
                background-color: $orange_main;
                span {
                    flex: 1;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
           
    }
    
    .offer {
        height: 1370px;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 25px;
        font-family: $font;

        .entries {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 auto;
            h2 {
                color: $blue_main;
                text-align: center;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #888;
                }
            }
            .det {
                padding-right: 5px;
                text-align: center;
            }
            .propositions {
                display: flex;
                flex-direction: column;
                article {
                    display: flex;
                    flex-direction: row;
                    margin: 10px;
                    /*&:after {
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 1px;
                        background-color: #888;
                    }*/
                    .img-wrapper {
                        overflow: hidden;
                        min-width: 100px;
                        flex: 1;
                        img {
                            width: 100%;
                            height: auto;
                            margin-right: 5px;
                        }
                    }
                    .description {
                        display: flex;
                        flex: 2;
                        flex-direction: column;
                        p {
                          margin-top: 5px; 
                          margin-bottom: 5px; 
                        }

                    }
                }
            }
        }
        .comingsoon {
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-bottom: 30px;
            h2 {
                color: $info_menu;
                text-align: center;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #888;
                }
            }
            article:nth-of-type(1){
                margin-bottom: 30px;
            }
            article {
                display: flex;
                flex-direction: column;
                margin: 0 auto;;
                img {
                    width: 75%;
                    flex: 1;
                    margin: 10px auto;
                }
                .script {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    margin-left: 10px;
                    p {
                        margin-top: 10px; 
                        margin-bottom: 10px;
                    }
                }
                button {
                    width: 85px;
                    border: solid 1px #777;
                    color: #777;
                    background-color: rgb(230, 230, 230);
                }
            }
        }
        
    }
    .more_info_menu {
        margin-top: 75px;
        width: 100%;
        margin: 0 auto;
        color: #FFF;
        display: flex;
        .bottom_container{
            background-color: $info_menu;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: flex-start;
            font-family: $font;
            padding: 10px;
           article {
               flex: 1;
               margin: 30px 35px;
                h4 {
                    justify-content: flex-start;
                    margin-bottom: 10px;
                }
                ul {
                    padding-left: 20px;
                    list-style: none;
                    li::before {
                        content: "\2022";
                        color: $info_bullets;
                        margin-right: 5px;
                        display: inline-block;
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                p {
                    margin-bottom: 10px;
                    margin-top: 20px;
                    font-size: 14px;
                    justify-content: center;
                }
                button {
                    background-color: $info_bullets;
                    color: #FFF;
                    border: none;
                    padding: 5px;
                    border-radius: 3px;
                    float: right;
                    margin-right: 75px;
                }
            }
        }
        
    }
    footer {
        text-align: center;     
        inline-size: 50px;
        width: 100%;    
        margin: 10px 0; 
        font-size: 14px;   
    }
}