@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";
@import "partials/header";
@import "partials/banner";
@import "partials/content";
@import "partials/about";


 
footer {
    text-align: center;     
    inline-size: 50px;
    width: 100%;    
    padding: 10px 0; 
    font-size: 14px;   
    background-color: rgb(177, 177, 248);
}
