@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

/*          DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     DESKTOP     */
@media only screen and (min-width: 1024px) {
    .banner {
        font-family: $font;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 700px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        top: 100px;
        .banner-wrapper {
            img {
                width: 100%;
                height: auto;
                border: white solid 10px;
                border-radius: 5px;
                margin: 0;
                box-shadow: $box_shadow;
                -webkit-box-shadow: 0px 2px 5px 4px rgba(34,34,34,0.5);
                -moz-box-shadow: 0px 2px 5px 4px rgba(34, 34, 34, 0.5);
            }
        }
        
        .description {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 200px;
            padding: 10px;
            h2 {
                background: $blue_gradient;
                margin-bottom: 10px;
                margin-top: 0;
                color: $text-top;
                font-size: 20px;
                padding: 5px;
               /* shit came out of it :D 
                &:after {
                    content: 'KNOW MORE';
                    width: 50px;
                    height: 30px;
                    background-color: $green_main;
                    color: $text-top;
                    rotate: (-45deg);
                    position: relative;
                    display: block;
                } */ 
            }
            p {
                background-color: white;
                color: $blue_main;
                font-size: 14px;
                font-weight: 600;
                padding: 5px 10px;
                border: white solid 3px;
            }
            
        }
        .buttons {
            display: flex;
            flex-direction: row;
            .browse {
                @include buttons-top;
                border-color: $blue_main;
                /*background-color: $blue_gradient;  looks weird*/
                background-color: $blue_main;
                span {
                    flex: 1;
                    font-weight: 600;
                    font-size: 12px;
                    margin-right: 10px;
                }
                &:hover {
                    border: none;
                }
            }
            .signup {
                @include buttons-top;
                border-color: $orange_main;
                background-color: $orange_main;
                span {
                    flex: 1;
                    font-size: 14px;
                    font-weight: 600;
                }
                &:hover {
                    border: none;
                }
            }
        }
           
    }
    
}


/*      TABLET      TABLET      TABLET      TABLET      TABLET      TABLET      TABLET      TABLET      */

@media only screen and (min-width: 700px) and (max-width: 1023px){
    .banner {
        font-family: $font;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        height: 200px;
        margin: 0 auto;
        margin-top: 130px;
        top: 100px;
        img {
            width: 100%;
            height: 100%;
            border: white solid 10px;
            border-radius: 5px;
            box-shadow: $box_shadow;
            -webkit-box-shadow: 0px 2px 5px 4px rgba(34,34,34,0.5);
            -moz-box-shadow: 0px 2px 5px 4px rgba(34, 34, 34, 0.5);
        }
        
        .description {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 200px;
            padding: 10px;
            h2 {
                background: $blue_gradient;
                margin-bottom: 10px;
                margin-top: 0;
                color: $text-top;
                font-size: 20px;
                padding: 5px;
            }
            p {
                background-color: white;
                color: $blue_main;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
                border: white solid 3px;
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            .browse {
                @include buttons-top;
                background-color: $blue_main;
                span {
                    flex: 1;
                    font-weight: 600;
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
            .signup {
                @include buttons-top;
                background-color: $orange_main;
                span {
                    flex: 1;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
           
    }
}


/*      MOBILE      MOBILE      MOBILE      MOBILE      MOBILE      MOBILE      MOBILE      MOBILE      */

@media only screen and (max-width: 699px) {
    .banner {
        font-family: $font;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 360px;
        margin: 0 auto;
        margin-top: 30px;
        img {
            width: 100%;
            border-radius: 2px;
            margin: 0;
            box-shadow: $box_shadow;
            -webkit-box-shadow: 0px 2px 5px 4px rgba(34,34,34,0.5);
            -moz-box-shadow: 0px 2px 5px 4px rgba(34, 34, 34, 0.5);
        }
        
        .description {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 200px;
            padding: 10px;
            h2 {
                background: $blue_gradient;
                text-align: center;
                color: $text-top;
                font-size: 20px;
                padding: 5px;
            }
            p {
                background-color: white;
                color: $blue_main;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 10px;
                text-align: center;
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            .browse {
                @include buttons-top;
                width: 220px;
                background-color: $blue_main;
                span {
                    flex: 1;
                    font-weight: 600;
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
            .signup {
                @include buttons-top;
                width: 220px;
                background-color: $orange_main;
                span {
                    flex: 1;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
           
    }
}