/*@function headlines(){
    @if :nth-child(1n) {
        background-color: $orange_main;
    } @else if :nth-child(2n) {
        background-color: $green_main;
    } @else {
        background-color: $blue_main;
    }
}*/