@mixin buttons-top {
    width: 215px; 
    height: 50px;
    font-size: 10px;
    text-align: center;
    margin: 5px;
    color: $text-top;
    border-style: double outset outset outset;
    border-radius: 3px;
}