$header: #1f8ee5;
$blue_gradient: linear-gradient(0deg, rgba(4,58,107,1) 24%, rgba(31,142,229,1) 84%);
$info_menu:  rgb(4,58,107);
$info_bullets:  rgb(59, 109, 190);
$button: rgb(27, 46, 99); 
$text-top: white;
$font: Helvetica, sans-serif;
$orange:  rgb(248, 140, 16);
/*$box_shadow: 
    -webkit-box-shadow: 0px 2px 10px 4px rgba(125,125,125,1)
    -moz-box-shadow: 0px 2px 10px 4px rgba(125,125,125,1)
    box-shadow: 0px 2px 10px 4px rgba(125,125,125,1);
*/