$blue_main: #1f8ee5;
$green_main: rgb(15, 167, 15);
$orange_main: rgb(248, 140, 16);
$blue_gradient: linear-gradient(0deg, rgba(4,58,107,1) 24%, rgba(31,142,229,1) 84%);
$info_menu:  rgb(4,58,107);
$info_bullets:  rgb(59, 109, 190);
$button: rgb(27, 46, 99); 
$text-top: white;
$font: Helvetica, sans-serif;

$box_shadow: 0px 2px 10px 4px rgba(34, 34, 34, 0.5);
